h1 {
    font-family: sans-serif;
    margin-top: 500px;
    font-size: 120px;
    text-align: center;
    color: rgb(172, 255, 39);
    background-color: rgb(241, 241, 1);
}


body {
    background-color: rgb(39, 70, 71);
}